#mapid { 
    width: 800px;
    height: 580px;
    box-shadow: 5px 5px 5px #888;
    text-align: center;
 }
 .center {
    margin: 1rem;
    padding: 1rem;
    /* IMPORTANTE */
    text-align: center;
  
  }
  
  div [class|="col"]{
   border: 4px solid #000000;   
  }
  

footer{
  width: 100%;
    height: 50px;
    background-color: #FAE671;
}