#mapid { 
    width: 800px;
    height: 580px;
    box-shadow: 5px 5px 5px #888;
 }
 body {
    font-family: 'Poppins', sans-serif;
}
nav{
    background-color: #6209DB;
}
.content {
    max-width: 500px;
}
.content2 {
    max-width: 400px;
}

.table2 {
    align-content: center;
}

