<%- include("../templates/header", {ruta: 'Históricos'}) %>

<body>
    <div class="container-fluid" style="background-color: #000000;">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="container">
                <a class="navbar-brand text-light fw-bold" href="/">Taxi Tracker App</a>
                <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars lead text-light"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">                
                        <li class="nav-item me-2">
                            <a class="btn btn-primary text-dark fw-bold" href="/">Principal</a>
                        </li>
                        <li class="nav-item me-2">
                            <a class="btn btn-primary text-dark fw-bold" href="/historicos">Históricos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="tab-pane fade show" role="tabpanel" id="Historicos" aria-labelledby="Historicos-tab">
        <main class="main">
            <div class="row justify-content-center" style= "background-color:#FAE671;">
                <form method="post" class="align-self-center" action="/historicos">
                    <div class="borde">
                        <h5><p class="text-dark ">Seleccione intervalo de datos:</p></h5>
                        <input type="text" name="datetimes" style="width:300px;height:30px;"/>
                        <input type="submit" id='btn-form' style='display: none; width:300px;height: 30px;'>
                        <script>
                            $(function() {
                                $('input[name="datetimes"]').daterangepicker({
                                    timePicker: true,
                                    timePicker24Hour: true,
                                    timePickerSeconds: true,
                                    startDate: moment().startOf('hour'),
                                    endDate: moment().startOf('hour'),
                                    locale: {
                                        format: 'YY-M-DD H:mm:ss'
                                    }
                                });
                                $('input[name="datetimes"]').on('apply.daterangepicker', function(ev, picker) {
                                    //do something, like clearing an input
                                    $('#btn-form').click();
                                });
                            });
                        </script>
                    </div>
                </form>
           
                <!--
                <div class="DESP">
                <select name="my_html_select_box">
                    <option selected="yes">CARRO1</option>
                    <option>CARRO2</option>
                </select>
                <select name="my_html_select_box2">
                    <option selected="yes">None</option>
                    <option><input type="checkbox" id="cbox1" value="first_checkbox"> Este es mi primer checkbox</option>
                    <option>CARRO2</option>
                </select>
                </div>

                <button class="accordion">Section 1</button>
                <div class="panel">
                <p><label><input type="checkbox" id="cbox1" value="first_checkbox"> Este es mi primer checkbox</label><br>

                    <input type="checkbox" id="cbox2" value="second_checkbox"> <label for="cbox2">Este es mi segundo checkbox</label></p>
                </div>
            -->

            <style>
                .accordion {
                  background-color: #eee;
                  color: #444;
                  cursor: pointer;
                  padding: 10px;
                  width: 50%;
                  border: none;
                  text-align: center;
                  outline: none;
                  font-size: 15px;
                  transition: 0.4s;
                }
                .accordion:after {
                    content: '\02795'; /* Unicode character for "plus" sign (+) */
                    font-size: 13px;
                    color: #777;
                    float: right;
                    margin-left: 5px;
                    }

                    .active:after {
                    content: "\2796"; /* Unicode character for "minus" sign (-) */
                    float: center;
                    }
                .active, .accordion:hover {
                  background-color: #ccc; 
                }
                
                .panel {
                  padding: 0 18px;
                  display: none;
                  background-color: white;
                  overflow: hidden;
                }
                </style>
            
            <button class="accordion">Vehiculos</button>
            <div class="panel">
            <p>
                <label><input type="checkbox" id="cbox1" value="checkbox1"> Carro1</label><br>
                <label><input type="checkbox" id="cbox2" value="checkbox2"> Carro2</label><br>
            </p>
            </div>

            <script>
            var acc = document.getElementsByClassName("accordion");
            var i;

            for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                panel.style.display = "none";
                } else {
                panel.style.display = "block";
                }
            });
            }
            </script>





            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>








            <div class="avanzar buttons">
                <button  class="btn btn-primary2 text-dark fw-bold" id="anterior">ERRE</button>
                <button class="btn btn-primary2 text-dark fw-bold" id="siguiente">Avanzar</button>
            </div>
        </div>
            <!-- Map section -->
            <section class="map">
                <div class="container-fluid text-center my-4" id ="maphi"></div>
            </section>
            <!-- Load mapa into de page. -->
            <script src="scripts/mapahis.js"></script>
        </main>
    </div>

<%- include("../templates/footer.ejs") %>