<%- include("../templates/header", {ruta: 'Históricos'}) %>

<body>
    <div class="container-fluid" style="background-color: #000000;">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="container">
                <a class="navbar-brand text-light fw-bold" href="/">Taxi Tracker App</a>
                <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars lead text-light"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">                
                        <li class="nav-item me-2">
                            <a class="btn btn-primary text-dark fw-bold" href="/">Principal</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="tab-pane fade show" role="tabpanel" id="Historicos" aria-labelledby="Historicos-tab">
        <main class="main">
            <div class="container-fluid text-center" style= "background-color:#FAE671;">
                <div class="row justify-content-center">
                    <div class="col" > <br><h5><p class="text-dark ">Seleccione la(s) placa(s) del vehículo(s) e intervalo de datos:</p></h5>
                        <form method="post" class="align-self-center" action="/historicos">
                            <div class="borde  justify-content-center">
                                <input type="text" class="btn btn-primary2 text-dark fw-bold" name="datetimes" style="width:300px;height:30px;"/>
                                <input type="submit" class="btn btn-primary2 text-dark fw-bold" id='btn-form' style='display: none; width:300px;height: 30px;'>
                                <script>
                                    $(function() {
                                        $('input[name="datetimes"]').daterangepicker({
                                            timePicker: true,
                                            timePicker24Hour: true,
                                            timePickerSeconds: true,
                                            locale: {
                                                format: 'YY-M-DD H:mm:ss'
                                            }
                                        });
                                        $('input[name="datetimes"]').on('apply.daterangepicker', function(ev, picker) {
                                            //do something, like clearing an input
                                            $('#btn-form').click();
                                        });
                                    });
                                </script>
                            </div>
                        </form>
                    </br></div>
                    <div class="col" > <br><h5><p class="text-dark ">Seleccione el punto especifico a observar:</p></h5>
                        <div class="avanzar buttons row justify-content-center">
                            <div class="col" >
                                <h5><p>Taxi AAA111: <input type="range" id="rango" min="0" value="0" step="1"></p></h5>
                            </div>
                            <div class="col" >
                                <h5><p>Taxi AAA222: <input type="range" id="rango2" min="0" value="0" step="1"></p></h5>
                            </div>  
                        </div>
                    </br></div> 
                </div>
                <div class="table-responsive-xxl">
                    <table class="table" >
                        <thead>
                            <tr>
                                <th scope="col" ><h5><p class="Placa"><p class="text-dark">Placa:</p></p></h5></th>
                                <th class="col" ><h5><p class="latitud"><p class="text-dark">Latitud:</p></p></h5></th>
                                <th class="col" ><h5><p class="longitud"><p class="text-dark">Longitud:</p></p></h5></th>
                                <th class="col" ><h5><p class="fecha"><p class="text-dark">Fecha:</p></p></h5></th>
                                <th class="col" ><h5><p class="hora"><p class="text-dark">Hora:</p></p></h5></th>
                                <th class="col" ><h5><p class="RPM"><p class="text-dark">RPM: </p></p></h5></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"><h5>AAA111</h5></th>
                                <td class="col" ><h5><p class="latitud"><p class="text-dark"><span id="1latitud_text"></span></p></p></h5></td>
                                <td class="col" ><h5><p class="longitud"><p class="text-dark"><span id="1longitud_text"></span></p></p></h5></td>
                                <td class="col" ><h5><p class="fecha"><p class="text-dark"><span id="1fecha_text"></span></p></p></h5></td>
                                <td class="col" ><h5><p class="hora"><p class="text-dark"> <span id="1hora_text"></span></p></p></h5></td>
                                <td class="col" ><h5><p class="RPM"><p class="text-dark"><span id="1RPM_text"></span></p></p></h5></td>
                            </tr>
                            <tr>
                                <th scope="row"><h5>AAA222</h5></th>
                                <td class="col" ><h5><p class="latitud"><p class="text-dark"><span id="1latitud_text2"></span></p></p></h5></td>
                                <td class="col" ><h5><p class="longitud"><p class="text-dark"><span id="1longitud_text2"></span></p></p></h5></td>
                                <td class="col" ><h5><p class="fecha"><p class="text-dark"><span id="1fecha_text2"></span></p></p></h5></td>
                                <td class="col" ><h5><p class="hora"><p class="text-dark"> <span id="1hora_text2"></span></p></p></h5></td>
                                <td class="col" ><h5><p class="RPM"><p class="text-dark"><span id="1RPM_text2"></span></p></p></h5></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Map section -->
            <section class="map">
                <div class="container-fluid text-center my-4" id ="maphi"></div>
            </section>
            <!-- Load mapa into de page. -->
            <script src="scripts/mapahis.js"></script>
        </main>
    </div>

<%- include("../templates/footer.ejs") %>