<%- include("../templates/header", {ruta: 'Históricos'}) %>

<body>
    <div class="container-fluid" style="background-color: #000000;">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="container">
                <a class="navbar-brand text-light fw-bold" href="/">Taxi Tracker App</a>
                <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars lead text-light"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">                
                        <li class="nav-item me-2">
                            <a class="btn btn-primary text-dark fw-bold" href="/">Principal</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="tab-pane fade show" role="tabpanel" id="Historicos" aria-labelledby="Historicos-tab">
        <main class="main">
                <div class="accordion" id="accordionPanelsStayOpenExample" style= "background-color:#FAE671;"> 
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                         Seleccione vehículo de preferencia
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                        <div class="accordion-body">
                            <select class="form-select mt-2" id="placa" name="placa" style="width:150px;height:35px;"/>
                            <option value="0">AAA111</option>
                            <option value="1">AAA222</option>
                            <option value="2">Ambos</option>
                        </select>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Seleccione intervalo de datos:
                          </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <form method="post" class="align-self-center" action="/historicos">
                                <div class="borde">
                                    <input type="text" name="datetimes" style="width:300px;height:30px;"/>
                                    <input type="submit" id='btn-form' style='display: none; width:300px;height: 30px;'>
                                    <script>
                                        $(function() {
                                            $('input[name="datetimes"]').daterangepicker({
                                                timePicker: true,
                                                timePicker24Hour: true,
                                                timePickerSeconds: true,
                                                startDate: moment().startOf('hour'),
                                                endDate: moment().startOf('hour'),
                                                locale: {
                                                    format: 'YY-M-DD H:mm:ss'
                                                }
                                            });
                                            $('input[name="datetimes"]').on('apply.daterangepicker', function(ev, picker) {
                                                //do something, like clearing an input
                                                $('#btn-form').click();
                                            });
                                        });
                                    </script>
                                </div>
                            </form>
                          </div>
                        </div>
                      </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Seleccione el punto especifico a observar:
                            </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="avanzar buttons">
                                    <input type="range" id="rango" min="0" value="0" step="0.5" />                
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>  
            <!-- Map section -->
            <section class="map">
                <div class="container-fluid text-center my-4" id ="maphi"></div>
            </section>
            <!-- Load mapa into de page. -->
            <script src="scripts/mapahis.js"></script>
        </main>
    </div>

<%- include("../templates/footer.ejs") %>