<%- include("../templates/header", {ruta: 'Históricos'}) %>

<body>
    <div class="container-fluid" style="background-color: #000000;">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="container">
                <a class="navbar-brand text-light fw-bold" href="/">Taxi Tracker App</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars lead text-dark"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">                
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/">Principal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/historicos">Históricos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="tab-pane fade show" role="tabpanel" id="Historicos" aria-labelledby="Historicos-tab">
        <main class="main">
            <div class="row justify-content-evenly" style= "background-color:#FAE671;">
                <form method="post" action="/historicos">
                    <div class="col" ><label for="strat"><h5><p class="text-dark">Fecha de inicio:</p></h5></label>
                        <input type="datetime-local" id="start_date" name="start" value="" min="2021-09-01T00:00" max="2021-12-31T00:00">
                    </div>
                    <div class="col" ><label for="end"><h5><p class="text-dark">Fecha de Fin:</p></h5></label>
                        <input type="datetime-local" id="end_date" name="end" value="" min="2021-09-01T00:00" max="2021-12-31T00:00">
                    </div>
                    <button class="mg7 mgB10" id="post-btn" type="submit">Buscar</button>
                </form>
            </div>
                
            <!-- Map section -->
            <section class="map">
                <div class="container-fluid text-center my-4" id ="maphi"></div>
            </section>
    
            <!-- Load mapa into de page. -->
            <script>
                var socket = io();
                let marker;
                let circle;
                let map = L.map('maphi');            
                let polyline = L.polyline([], {color: '#41b611', smoothFactor:3}).addTo(map);
                // Load Map
                map.setView([0,0], 18);   
                
                // Update HTML content
                document.addEventListener('DOMContentLoaded', function() { 

                    L.tileLayer('https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=mAWo6ZVOwQECEfInDbLo', {
                            attribution:'<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>',
                            maxZoom: 20,
                            tileSize: 512,
                            zoomOffset: -1,
                        }).addTo(map);   

                    socket.on("getConsulta", function(data){
                        const info = data.info
                        console.log(info);
                        console.log(info[0].Latitud)
                        // Initialize map.
                        const inicio = [parseFloat(info[0].Latitud), parseFloat(info[0].Longitud)];
                        
                        console.log(inicio);
                        const fin = [parseFloat(info[info.length - 1].Latitud), parseFloat(info[info.length - 1].Longitud)];
                        console.log(fin);
                        const medio = [parseFloat(info[Math.floor(info.length/2)].Latitud), parseFloat(info[Math.floor(info.length/2)].Longitud)];
                        console.log(medio);
                        // Place first marker
                        marker = L.marker(medio).addTo(map); 

                        marker.setLatLng(inicio); 
                        marker.setLatLng(fin);  

                        info.forEach(coord => {
                            polyline.addLatLng([parseFloat(info[coord].Latitud), parseFloat(info[coord].Longitud)]);
                        }); 
                    });
                }); 
            </script>
        </main>
    </div>

<%- include("../templates/footer.ejs") %>