<%- include("../templates/header", {ruta: 'Históricos'}) %>

<body>
    <div class="container-fluid" style="background-color: #000000;">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="container">
                <a class="navbar-brand text-light fw-bold" href="/">Taxi Tracker App</a>
                <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars lead text-light"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">                
                        <li class="nav-item me-2">
                            <a class="btn btn-primary text-dark fw-bold" href="/">Principal</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="tab-pane fade show" role="tabpanel" id="Historicos" aria-labelledby="Historicos-tab">
        <main class="main">
            <div class="row justify-content-center" style= "background-color:#FAE671;">
            <div class="dropdown">
                <h5><p class="text-dark ">Seleccione el vehículo de preferencia:</p></h5>
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Vehículos
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">AAA111</a></li>
                  <li><a class="dropdown-item" href="#">AAA222</a></li>
                  <li><a class="dropdown-item" href="#">Ambos</a></li>
                </ul>
              </div>
            </div>

                <form method="post" class="align-self-center" action="/historicos">
                    <div class="borde">
                        <h5><p class="text-dark ">Seleccione intervalo de datos:</p></h5>
                        <input type="text" name="datetimes" style="width:300px;height:30px;"/>
                        <input type="submit" id='btn-form' style='display: none; width:300px;height: 30px;'>
                        <script>
                            $(function() {
                                $('input[name="datetimes"]').daterangepicker({
                                    timePicker: true,
                                    timePicker24Hour: true,
                                    timePickerSeconds: true,
                                    startDate: moment().startOf('hour'),
                                    endDate: moment().startOf('hour'),
                                    locale: {
                                        format: 'YY-M-DD H:mm:ss'
                                    }
                                });
                                $('input[name="datetimes"]').on('apply.daterangepicker', function(ev, picker) {
                                    //do something, like clearing an input
                                    $('#btn-form').click();
                                });
                            });
                        </script>
                    </div>
                </form>
                <div class="avanzar buttons">
                    <h5><p class="text-dark ">Seleccione el punto especifico a observar:</p></h5>
                    <input type="range" id="rango" min="0" value="0" step="0.5" />                
                </div>
             </div>
            <!-- Map section -->
            <section class="map">
                <div class="container-fluid text-center my-4" id ="maphi"></div>
            </section>
            <!-- Load mapa into de page. -->
            <script src="scripts/mapahis.js"></script>
        </main>
    </div>

<%- include("../templates/footer.ejs") %>