<%- include("../templates/header", {ruta: 'Históricos'}) %>

<body>
    <div class="container-fluid" style="background-color: #000000;">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="container">
                <a class="navbar-brand text-light fw-bold" href="/">Taxi Tracker App</a>
                <button class="navbar-toggler btn btn-primary text-dark fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars lead "></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">                
                        <li class="nav-item me-2">
                            <a class="btn btn-primary text-dark fw-bold" href="/">Principal</a>
                        </li>
                        <li class="nav-item me-2">
                            <a class="btn btn-primary text-dark fw-bold" href="/historicos">Históricos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="tab-pane fade show" role="tabpanel" id="Historicos" aria-labelledby="Historicos-tab">
        <main class="main">
            <div class="row justify-content-center" style= "background-color:#FAE671;">
                <form method="post" class="align-self-center"  action="/historicos">
                    <div class="col align-self-center" ><label for="strat"><h5><p class="text-dark ">Fecha de inicio:</p></h5></label>
                        <input type="datetime-local" id="start_date" name="start" value="" min="2021-09-01T00:00" max="2021-12-31T00:00">
                    </div>
                    <div class="col align-self-center" ><label for="end"><h5><p class="text-dark ">Fecha de Fin:</p></h5></label>
                        <input type="datetime-local" id="end_date" name="end" value="" min="2021-09-01T00:00" max="2021-12-31T00:00">
                    </div>     
                    <button class="mg7 mgB10" id="post-btn" type="submit">Buscar</button>
                </form>
            </div>
                
            <!-- Map section -->
            <div class="map-responsive">
                
            <section class="map">
                <div class="container-fluid text-center my-4" id ="maphi"></div>
            </section>
        </div>
            <!-- Load mapa into de page. -->
            <script src="scripts/mapahis.js"></script>
        </main>
    </div>

<%- include("../templates/footer.ejs") %>