<%- include("../templates/header", {ruta: 'Inicio'}) %>

<body>
    <div class="container-fluid" style="background-color: #000000;">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="container">
                <a class="navbar-brand text-light fw-bold" href="/">Taxi Tracker App</a>
                <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars lead text-light"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item me-2">
                        <a class="btn btn-primary text-dark fw-bold" href="/historicos">Históricos</a>
                    </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <main class="main">
        <div class="container-fluid text-center" style= "background-color:#FAE671;">
            <section class="coordenadas info">
                <div class="row justify-content-center">
                    <div class="col" > <br><h5><p class="text-dark ">Seleccione la(s) placa(s) del vehículo(s):</p></h5>
                    <select class="select-wrapper btn btn-primary2 text-dark fw-bold" id="placa" name="placa" style="width:150px;height:35px;">
                        <option value="0">AAA111</option>
                        <option value="1">AAA222</option>
                        <option value="2">Ambos</option>
                    </select>
                </br></div>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" ><h5><p class="Placa"><p class="text-dark">Placa</p></p></h5></th>
                            <th class="col" ><h5><p class="latitud"><p class="text-dark">Latitud</p></p></h5></th>
                            <th class="col" ><h5><p class="longitud"><p class="text-dark">Longitud</p></p></h5></th>
                            <th class="col" ><h5><p class="fecha"><p class="text-dark">Fecha</p></p></h5></th>
                            <th class="col" ><h5><p class="hora"><p class="text-dark">Hora</p></p></h5></th>
                            <th class="col" ><h5><p class="RPM"><p class="text-dark">RPM </p></p></h5></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row"><h5>AAA111</h5></th>
                            <td class="col" ><h5><p class="latitud"><p class="text-dark"><span id="latitud_text"></span></p></p></h5></td>
                            <td class="col" ><h5><p class="longitud"><p class="text-dark"><span id="longitud_text"></span></p></p></h5></td>
                            <td class="col" ><h5><p class="fecha"><p class="text-dark"><span id="fecha_text"></span></p></p></h5></td>
                            <td class="col" ><h5><p class="hora"><p class="text-dark"> <span id="hora_text"></span></p></p></h5></td>
                            <td class="col" ><h5><p class="RPM"><p class="text-dark"><span id="RPM_text"></span></p></p></h5></td>
                        </tr>
                        <tr>
                            <td scope="row"><h5>AAA222</h5></th>
                            <td class="col" ><h5><p class="latitud"><p class="text-dark"><span id="latitud_text2"></span></p></p></h5></td>
                            <td class="col" ><h5><p class="longitud"><p class="text-dark"><span id="longitud_text2"></span></p></p></h5></td>
                            <td class="col" ><h5><p class="fecha"><p class="text-dark"><span id="fecha_text2"></span></p></p></h5></td>
                            <td class="col" ><h5><p class="hora"><p class="text-dark"> <span id="hora_text2"></span></p></p></h5></td>
                            <td class="col" ><h5><p class="RPM"><p class="text-dark"><span id="RPM_text2"></span></p></p></h5></td>
                        </tr>
                    </tbody>
                </table>
            </div>
                
            </section>
        </div>
        <!-- Map section -->
    
        <section class="map">
            <div class="container-fluid text-center my-4" id ="mapid"></div>
        </section>
  
        <!-- Load mapa into de page. -->
        <script src="scripts/map.js"></script>
    </main>
<%- include("../templates/footer.ejs") %>