<%- include("../templates/header", {ruta: 'Inicio'}) %>

<body>
    <div class="container-fluid" style="background-color: #000000;">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="container">
                <a class="navbar-brand text-light fw-bold" href="/">Taxi Tracker App</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars lead text-light"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    
                    <li class="nav-item me-2">
                        <a class="btn btn-primary text-dark fw-bold" href="/">Principal</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="btn btn-primary text-dark fw-bold" href="/historicos">Históricos</a>
                    </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <main class="main">
        <div class="container-fluid text-center" style= "background-color:#FAE671;">
            <section class="coordenadas info">
                <div class="row justify-content-center">
                    <div class="col" ><h5><p class="latitud"><p class="text-dark">Latitud: <span id="latitud_text"></span></p></p></h5></div>
                    <div class="col" ><h5><p class="longitud"><p class="text-dark">Longitud: <span id="longitud_text"></span></p></p></h5></div>
                    <div class="col" ><h5><p class="fecha"><p class="text-dark">Fecha: <span id="fecha_text"></span></p></p></h5></div>
                    <div class="col" ><h5><p class="hora"><p class="text-dark">Hora: <span id="hora_text"></span></p></p></h5></div>
                </div>
            </section>
        </div>
        <!-- Map section -->
        <section class="map">
            <div class="container-fluid text-center my-4" id ="mapid"></div>
        </section>
        <!-- Load mapa into de page. -->
        <script src="scripts/map.js"></script>
    </main>
<%- include("../templates/footer.ejs") %>