.u-section-1 {
  background-image: none;
  min-height: 1015px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  width: 770px;
  font-size: 2.5rem;
  margin: 15px auto 0;
}

.u-section-1 .u-line-1 {
  width: 65px;
  height: 5px;
  transform-origin: right center;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  width: 672px;
  margin: 7px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 579px;
  margin: 12px calc(((100% - 1140px) / 2) + 269px) 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 107px;
}

.u-section-1 .u-container-layout-1 {
  padding: 8px 0 5px;
}

.u-section-1 .u-icon-1 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 12px auto 0 14px;
}

.u-section-1 .u-text-3 {
  margin: -57px 6px 0 180px;
}

.u-section-1 .u-text-4 {
  text-transform: none;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: titillium-Web;
  margin: -25px 113px 0 102px;
}

.u-section-1 .u-text-5 {
  text-transform: none;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: titillium-Web;
  width: 91px;
  margin: 7px auto 0;
}

.u-section-1 .u-text-6 {
  margin: -24px 6px 0 185px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 107px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 13px;
}

.u-section-1 .u-icon-2 {
  height: 68px;
  width: 68px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 20px auto 0 18px;
}

.u-section-1 .u-text-7 {
  text-transform: none;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: titillium-Web;
  width: 94px;
  margin: -59px auto 0;
}

.u-section-1 .u-text-8 {
  margin: -24px 0 0 179px;
}

.u-section-1 .u-text-9 {
  text-transform: none;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: titillium-Web;
  width: 94px;
  margin: 6px auto 0;
}

.u-section-1 .u-text-10 {
  margin: -27px 0 0 179px;
}

.u-section-1 .u-map-1 {
  height: 635px;
  width: 1300px;
  margin: 23px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 1170px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 37px;
  }

  .u-section-1 .u-line-1 {
    margin-left: calc(((100% - 940px) / 2) + 424px);
  }

  .u-section-1 .u-text-2 {
    margin-top: 16px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: calc(((100% - 940px) / 2) + 269px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 11px;
  }

  .u-section-1 .u-map-1 {
    height: 786px;
    margin-top: 26px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 631px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-line-1 {
    margin-left: calc(((100% - 720px) / 2) + 424px);
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: calc(((100% - 720px) / 2) + 141px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 731px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-line-1 {
    margin-left: calc(((100% - 540px) / 2) + 424px);
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.375rem;
    width: 340px;
  }

  .u-section-1 .u-line-1 {
    margin-left: calc(((100% - 340px) / 2) + 275px);
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 13px;
    margin-left: 2px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
  }
}